@model ProductModel

<form asp-action="ProductCreate">
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Create Product</h1>

        <hr />
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-2">
                <label asp-for="Name" class="control-label pt-2" style="font-size=20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
            <div class="col-2">
                <label asp-for="CategoryName" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="CategoryName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="Description" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="ImageUrl" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="Price" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="col-5 offset-2">
                <a asp-action="ProductIndex" class="btn-primary btn form-control ">Back to List</a>
            </div>

            <div class="col-5">
                <input type="submit" value="Create" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial">
    }{"threads":[{"position":1284,"start":0,"end":1283,"connection":"closed"},{"position":1284,"start":1284,"end":2566,"connection":"open"}],"url":"https://att-c.udemycdn.com/2021-10-12_02-52-26-e7346787c31826cbf8fd4db0ff857013/original.cshtml?response-content-disposition=attachment%3B+filename%3DProductCreate.cshtml&Expires=1671512336&Signature=cJpsZisQf23fquZUoxfZrV8Ay6lrFhTfD7VEx5f2O63ce4Haur3xSNtCEyivsGzjCYQOT1nli-1mqtppN8qsPoGnuHSGiMCA1JVcod46mQW35Ari3Stu~p6DyweQf6mOGZZdcFtqOig2yGinYGt-aXMhQJpjErQSQRWW-J4crsQ4UIEGP8HNjr9EJ5nI~k7lx4EHacXSRXfPYFKPsSRIRtVkZ3TxYuXqfsRUhx5ja~osZRHzaHI9C-TfK6RDWBb4eS5iBRIMiLvXQAgtfIyQSvvZ6uu2t7INUKj3mREvKq87wgCnNrji6KiDM7mf8aF7BRLtrZR~U9WSUhFnYPFdPA__&Key-Pair-Id=APKAITJV77WS5ZT7262A","method":"GET","port":443,"downloadSize":2566,"headers":{"content-type":"binary/octet-stream","content-length":"2566","connection":"close","date":"Tue, 13 Dec 2022 09:50:39 GMT","last-modified":"Tue, 12 Oct 2021 02:52:28 GMT","etag":"\"464c84f46252d84b4e625aec157af811\"","x-amz-server-side-encryption":"AES256","x-amz-meta-qqfilename":"ProductCreate.cshtml","x-amz-version-id":"qBU7c20LkoYZ9N.S6y2IDc64TlWaJOZj","content-disposition":"attachment; filename=ProductCreate.cshtml","accept-ranges":"bytes","server":"AmazonS3","x-cache":"Hit from cloudfront","via":"1.1 3e22c3ef3ef50cb31c6d94b0de030d68.cloudfront.net (CloudFront)","x-amz-cf-pop":"GRU3-P1","x-amz-cf-id":"EwaBYqK2cGjdpawbWGDPDfQU9U9UQsksrRCukbZN084EpzEIxz3xAA==","age":"572258","vary":"Origin"}}
